{% extends 'layout.html' %} {% block body %}

<head>
	<title>Handicrafts | Forgot password</title>
	<style>
		.forgot-form {
			border: #eee solid 2px;
			margin-top: 10px;
			padding: 10px;
			border-radius: 5px;
		}

		.submit {
			color: white;
			background: var(--themeColor);
			border: var(--themeColor) 1px solid;
			border-radius: 5px;
			padding: 5px 10px;
		}

		@media (min-width:1024px) {
			.forgot-form {
				width: 50%;
			}
		}
	</style>
</head>
<div class="forgot-password-container">
	<div class="forgot-form-div">
		<form onsubmit="loading()" method="POST" class="forgot-form" id="forgot-form">
			<h1 class="lead" style="margin-bottom: 15px;">Forgot password</h1>
			<div class="form-data">
				<input type="email" name="forgot-email" placeholder=" " id="forgot-email" class="input" required />
				<label for="forgot-email"><span class="span">Enter your E-mail</span></label>
			</div>
			<input type="submit" value="Submit" class="btn" />
		</form>
	</div>
</div>
{% endblock %}