{% extends 'seller-layout.html' %}
{% block title %}Handicrafts sellers | Edit password{% endblock %}
{% block body %}

<head>
    <style>
        .seller-change-password-div {
            margin-top: 40px;
        }

        @media(min-width: 1024px) {
            .seller-change-password-container {
                width: 50%;
            }
        }
    </style>
</head>
<div class="seller-change-password-container">
    <div class="seller-change-password-div">
        <h1 style="margin-bottom: 10px;" class="lead"><i class="fas fa-user-edit" style="margin-right: 10px;"></i>Change
            your password</h1>
        <form onsubmit="loading()" class="change-password-form" method="POST">
            <div class="form-data">
                <label for="current-password">Current password</label>
                <input type="password" placeholder="Enter current password" name="seller-current-password"
                    id="current-password" class="input" required />

            </div>
            <div class="form-data">
                <label for="new-password">New password</label>
                <input type="password" placeholder="Enter new password" name="seller-new-password" id="new-password"
                    class="input" required />

            </div>
            <div class="form-data">
                <label for="confirm-new-password">Confirm password</label>
                <input type="password" placeholder="confirm new password" name="confirm-seller-new-password"
                    id="confirm-new-password" class="input" required />

            </div>
            <div class="form-data">
                <input type="submit" value="Change password" style="margin-top: 10px;" class="btn" />
            </div>
        </form>
    </div>
</div>
{% endblock %}