{% extends 'layout.html' %}
{% block body %}

<head>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        .about-sections {
            display: grid;
            grid-template-columns: repeat(1fr, 4);
            gap: 10px;
        }

        .about-sec {
            border-bottom: 1px solid black;
            padding: 10px 0;
        }
    </style>
</head>
<div class="about-conatiner">
    <h1>About handicrafts</h1>
    <div class="about-sections">
        <div class="about-sec">
            <h2>About 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium unde provident laboriosam illo. Vero,
                quasi? Odio porro omnis modi accusamus distinctio id aliquid praesentium ea sequi nostrum repellendus
                voluptatibus cum voluptatem, eius, sint fugiat reprehenderit! Sunt maiores possimus laudantium odio?
                Quaerat
                ab facilis laudantium quisquam similique sequi temporibus animi perferendis dolorem deleniti autem qui
                dolorum quis, ducimus, veritatis, voluptate iusto asperiores. Dolor neque veritatis maiores tenetur
                distinctio alias, laboriosam aspernatur amet saepe sunt quasi! Dolorem blanditiis itaque eum, illum
                nihil
                possimus assumenda esse saepe magni voluptate consectetur, animi eos in neque dolorum, molestiae fugiat
                maxime commodi velit! Culpa, quasi nesciunt?</p>
        </div>
        <div class="about-sec">
            <h2>About 2</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis doloribus recusandae quis assumenda
                amet? Quia debitis laudantium quas esse animi quisquam perferendis quo nemo sed sint non molestiae
                corporis
                fuga commodi sit atque error accusantium ducimus libero enim, doloribus assumenda! Saepe, voluptas culpa
                sapiente rerum quidem suscipit quia aperiam quo adipisci consectetur. Iure unde eos accusantium quasi
                voluptas repellendus culpa est, reiciendis blanditiis temporibus asperiores nihil officia, iste
                molestias
                maiores nostrum tempora minus obcaecati quia, natus incidunt atque eaque at.</p>
        </div>
        <div class="about-sec">
            <h2>About 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, a quisquam. Quas soluta pariatur nemo
                et
                at maxime veritatis reiciendis quisquam illum fuga aut odio odit molestiae quis, quaerat praesentium
                assumenda hic aliquid ipsam, cupiditate ipsum dolorum blanditiis iste dicta. Labore facere nobis
                exercitationem ullam voluptate similique voluptatum laudantium quo laboriosam! Tempora beatae excepturi,
                enim quasi hic, maiores minus error sunt ex nam velit corrupti! Facilis eveniet nulla tempora animi
                voluptatum dicta corporis doloribus aperiam, accusamus provident nisi obcaecati voluptas. Earum
                provident
                officiis esse dolorum numquam atque sint laudantium! Eveniet natus ex odit distinctio, nihil molestias
                eaque
                blanditiis exercitationem aperiam quidem?</p>
        </div>
        <div class="about-sec">
            <h2>About 4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ducimus iste distinctio id vitae
                illo
                exercitationem aliquam natus rerum. Minima eius id hic velit porro nostrum dolorum suscipit,
                perspiciatis
                consequuntur deleniti corporis eaque. Eligendi beatae temporibus quo dolores a eaque officia, quasi
                neque
                libero quaerat labore consequuntur! Dicta itaque molestiae qui sit mollitia, voluptates voluptatibus,
                iusto,
                ipsum veritatis consequatur expedita. Doloribus expedita vitae aliquid quisquam sapiente. Vitae quod
                repudiandae maxime.</p>
        </div>
    </div>
</div>
{% endblock %}